<!-- 
Author: Tanveer Iqbal
Project : Server Stats
CR#
Date: 3-March-2017
-->
<!doctype html>
<html lang="en">
    <head>
    	<title>Live Server Monitoring Tool</title>
		<link rel="icon" type="image/png" sizes="96x96" href="favicon.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/skyprofiler.css">
        <script src="js/justgage.js"></script>
        <script src="js/nirvana.js"></script>
        <script src="js/raphael-2.1.4.min.js"></script>
        <script src="js/server-monito-1.0.js"></script>
        <script src="js/serverProperties.js"></script>
        <script src="js/add/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="js/add/angular-ui-notification.min.js"></script>
        <script src="js/add/bootstrap.min.js"></script>
        <script src="js/add/nya-bs-select.min.js"></script>
        <script src="js/add/ui-bootstrap-tpls.js"></script>
	  <style>
	  	#g1,
	  	#g2,
	  	#g3 {
	  		width: 200px;
	  		height: 160px;
	  		display: inline-block;
	  		margin: 1em;
	  	}

	  	p {
	  		display: block;
	  		width: 450px;
	  		margin: 2em auto;
	  		text-align: left;
	  	}
	  </style>
	</head>
	<body onload="initUMUrl()">
		<div ng-app="myApp" ng-controller="myCtrl">
             <div class="vertical-center">
              <div class="container text-center">
                <div class="skyprofile-title">
                    <span class="welcome">Welcome to </span>Live Sever Stats
                </div>

		       <p style="text-align: center;">
                    <button id="start" ng-if="!isRunning" ng-model="start" title="To start monitoring server click on this button. server-stats will be started with default configuration." type="button" ng-click="doStart(null, $event)" class="btn btn-lg btn-primary" onclick="sendAction('start')" ><i class="glyphicon glyphicon-play"></i> Start</button>

                    <button id="stop" ng-if="isRunning" title="SKY Profiler is already running." type="button" ng-click="doStop(null, $event)" class="btn btn-lg btn-success" onclick="sendAction('stop')"><i class="glyphicon glyphicon-stop"></i> Stop</button>

                    <button id="configuration" title="To configure the profiler before starting the profiling click on this button." type="button" class="btn btn-lg btn-default" ng-click="openConfigModal()"><i class="glyphicon glyphicon-cog"></i> Configure</button>
                </p>
               </div>
              </div>

<!-- Configuration Modal -->
        <script type="text/ng-template" id="configModal.html">
            <div class="modal-header">
                <h4 class="modal-title">Configurations</h4>
            </div>

            <div class="modal-body" >
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="includedPkgList" class="col-sm-6 control-label">Include Packages for Profiling</label>

                        <div class="col-sm-6">
                            <ol id="dynamic-options" title="Select all packages whose service execution needs to be monitored" class="form-control nya-bs-select" ng-model="selectedPackageList" data-live-search="true" multiple>
                                <li nya-bs-option="packageInfo in configurationData.packages" deep-watch="true" value="packageInfo.name">
                                    <a>
                                        {{ packageInfo.name }}
                                        <span class="glyphicon glyphicon-ok check-mark"></span>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="kafkaBootstrapUrl" class="col-sm-6 control-label">Kafka Bootstrap Url</label>

                        <div class="col-sm-6">
                            <input id="kafkaBootstrapUrl" type="text" class="form-control" placeholder="<hostname>:<portnumber>" title="This should be kafka bootstrap server URL. Ex - localhost:9092" ng-model="configurationData.kafkaBootstrapUrl">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="kafkaTopicName" class="col-sm-6 control-label">Kafka Topic Name</label>

                        <div class="col-sm-6">
                            <input id="kafkaTopicName" type="text" class="form-control" placeholder="<kafkatopicname>" title="Provide the topic name to which service execution events needs to be published.&#013;This should be same as server name provided in the UI and it is case sensitive." ng-model="configurationData.kafkaTopicName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="externalHostname" class="col-sm-6 control-label">External Server Hostname</label>

                        <div class="col-sm-6">
                            <input id="externalHostname" type="text" class="form-control" placeholder="<hostname>" title="It is the server to which IS will be communicating when the service is executed.&#013;This will help to find out bottleneck due to network latency.&#013;If no external server is present, leave this blank." ng-model="configurationData.externalHostname">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button id="ConfigSave" type="button" class="btn btn-primary" ng-click="saveConfig()" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Save</button>
                <button id="ConfigCancel" type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>
        </script>
        <!-- Configuration Modal end -->

	 </div>

<!--  Render Charts for stats  -->
	 <div align="center">
		<div id="g1"></div>
		<div id="g2"></div>
		<div id="g3"></div>
		<div id="g4"></div>
	  
		<div><a href="JavaScript:popupwindow('/server-stats/configTask.html',500,300);"><i class="glyphicon glyphicon-cog"></i> Configuration</a></div>
		<a href="/server-stats/report.html" target="_blank"><i class="glyphicon glyphicon-tasks"></i>Show Report</a>
	 </div>
	</body>
	
<script type="text/javascript">
// function for opening new window
	
	function popupwindow(url, w, h) {
         var w = w;
         var h = h;
        var left = Number((screen.width/2)-(w/2));
        var tops = Number((screen.height/2)-(h/2));

        window.open(url, '', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+tops+', left='+left);
     }

	function initUMUrl(){
		var realmURL = Server.um;
		// Save data to sessionStorage
        localStorage.setItem('realmURL', realmURL);
	}
</script>

<script type="text/javascript">
	
	ar app=angular.module('myApp', ['ui-notification', 'ui.bootstrap', 'nya.bootstrap.select']);

app.config(['NotificationProvider', '$qProvider', function(NotificationProvider, $qProvider) {
    NotificationProvider.setOptions({
        delay: 1500,
        startTop: 20,
        startRight: 10,
        verticalSpacing: 10,
        horizontalSpacing: 10,
        positionX: 'right',
        positionY: 'bottom',
        closeOnClick: true,
        maxCount: 2
    });
	
	$qProvider.errorOnUnhandledRejections(false);
}]);

app.controller('myCtrl', ['$scope', '$http', '$location', '$modal', 'Notification', function($scope, $http, $location, $modal, Notification) {
    $scope.targetURL='';

    $scope.isRunning=false;

    $scope.doStart = function(item, event) {
         $scope.isRunning=true;
    };

    $scope.doStop = function(item, event) {
     $scope.isRunning=false;
    };

    $scope.init = function () {
        $scope.targetURL=$location.protocol()+'://'+$location.host()+":" + $location.port();
        $http.get($scope.targetURL+"/invoke/SKYProfiler.svc:isRunning")
        .then(function(response) {
            $scope.isRunning=response.data.status;
        }, function (error) {
			Notification.error({message: "Error while fetching the status of the server : " + error.data.$error});
		});	
    }

    $scope.openConfigModal = function() {
        $scope.modalInstance = $modal.open({
            templateUrl: 'configModal.html',
            controller: 'ModalInstanceCtrl',
            resolve: {
                targetURL: function() {
                    return $scope.targetURL;
                }
            }
        });

        $scope.modalInstance.opened.then(function() {
            $http.get($scope.targetURL+"/invoke/SKYProfiler.svc:getConfiguration")
            .then(function(response) {
                $scope.modalInstance.setConfigurationData(response.data, $scope.targetURL);
            }, function(error) {
                Notification.error({message: "Error while fetching the configuration information : " + error.data.$error });
            });
        }, null); 
    };  
}]);

app.controller('ModalInstanceCtrl', ['$scope', '$http', '$modalInstance', 'Notification', function($scope, $http, $modalInstance, Notification) {
    $scope.configurationData = {};

    $scope.targetURL = '';

    $scope.selectedPackageList=[];

    $modalInstance.setConfigurationData = function(configurationData, targetURL) {
        $scope.configurationData = configurationData;

        var packagesArr = $scope.configurationData.packages;
        var len = packagesArr.length;
        for (var i=0; i< len; i++) {
            if (packagesArr[i].selected === 'selected') {
                $scope.selectedPackageList.push(packagesArr[i].name);
            } 
        }

        $scope.targetURL = targetURL;
    };

    $scope.saveConfig = function() {
        var kafkaBootstrapUrl = angular.element('#kafkaBootstrapUrl').val();
        var kafkaTopicName = angular.element('#kafkaTopicName').val();
        var externalHostname = angular.element('#externalHostname').val();
        
        $http({
            url: $scope.targetURL+"/invoke/SKYProfiler.svc:updateSettings",
            dataType: "json",
            method: "POST",
            headers: {
                "Content-type": "application/json",
                "Accept": "*/*"
            },
            data: {"includedPackages" : $scope.selectedPackageList.join(), "kafkaBootstrapUrl" : kafkaBootstrapUrl, "kafkaTopicName" : kafkaTopicName, "externalHostname" : externalHostname }
        }).then(function(response){
            Notification.success(response.data.message);
        }, function(error){
            Notification.error(error.data.$error);
        });
        $modalInstance.close('close');
    };

    $scope.cancel = function() {
        $modalInstance.dismiss('cancel');
    };
}]);
</script>

<script src="js/ti.stats.chart.js"></script>
</html>